body {
  margin: 0 5%;
}

/***** NAVIGATION *****/
// mobile styling
button#hamburgerBtn {
  background: none;
  border: none;
  color: #2a333c;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 0 30px 0 2vw;
  float: right;
}

nav {
  //   background-color: $primaryColor;
  // width: 100%;
  //   border: 1px;
  // font-family: "Playpen Sans", cursive;
  font-family: "Nova Square", sans-serif;
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
  width: 100%;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 0.8rem 0;
  color: #39444e;
  text-align: right;
  text-decoration: none;
}

nav li.active {
  //   background-color: rgb(0, 0, 0);
  // font-size: 125%;
  text-decoration: underline;
}

nav a:hover {
  // background-color: rgb(201, 201, 201);
  font-size: 1.1rem;
}

nav ul.open {
  display: block;
}

nav ul {
  display: none;
}
.nav-row {
  display: flex;
  // align-items: flex-end;
  justify-content: space-between;
  padding: 20px 10px;
}

.logo {
  width: 150px;
  // padding: 10px;
}
.flag {
  width: 35px;
}
.nav-links {
  padding-right: 15px;
}

/***** MAIN *****/
main {
  // margin: 5% 0;
  font-size: x-large;
  padding: 5% 0;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.2);
}

/***** FOOTER *****/
footer {
  font-family: "Permanent Marker", cursive;
  font-size: large;
}

.footer-main {
  padding: 15px 0;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
}
.footer-one,
.footer-two,
.footer-three {
  margin-bottom: 25px;
  text-align: center;
}
// .footer-three {
//   display: flex;
//   align-content: center;
// }
.footer-two > ul {
  padding: 0;
}
.socials {
  display: flex;
  justify-content: space-around;
}
.bottom-bar {
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.bottom-bar-left {
  width: 50%;
}
.bottom-bar-right {
  text-align: right;
}
.social-icon {
  width: 50px;
}
.company {
  list-style-type: none;
  font-size: small;
}
.company > li {
  padding-bottom: 5px;
}
.created-by {
  opacity: 0.2;
}
.created-by-link {
  text-decoration: none;
  color: #000000;
}
